[submodule "vendor/HaXml"]
	path = vendor/HaXml
	url = https://github.com/beijaflor-io/HaXml
[submodule "vendor/latexindent.pl"]
	path = vendor/latexindent.pl
	url = https://github.com/beijaflor-io/latexindent.pl
