
# Created by https://www.gitignore.io/api/haskell

### Haskell ###
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
dist
.stack-fpm
*.pyc
.tern-port
.#*
example-output.pdf
example-output.log
example-output.dvi
indent.log
jats2tex.exe
jats2tex-web.exe
jats2tex-install.exe
jats2tex-install.nsi
tmp-local-install-root
